<!DOCTYPE html>
<html>
<head>
  <title>RailsAssignment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<br>
<%= link_to "Show all articles", articles_path %> 
<%= yield %>

</body>
</html>
